.story {
    width: 75%;
    background-color: rgba($color-white, .6);
    margin: 0 auto;
    padding: 6rem;
    border-radius: 4px;
    box-shadow: 0 3rem 6rem rgba($color-dark, .1);
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);

    >* {
        -webkit-transform: skewX(12deg);
        transform: skewX(12deg);
    }

    &-shape {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        margin-right: 4rem;
        outline: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.4);
            transition: all .5s ease-in-out;
            backface-visibility: hidden;
        }
    }

    &-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $color-white;
        -webkit-transform: translate(-50%, 130%);
        transform: translate(-50%, 130%);
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .3s ease-in-out;
        backface-visibility: hidden;
    }

    &:hover &-caption {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover img{
        transform: scale(1);
        filter: blur(3px) brightness(.8);
        
    }

    @include response(phone){
        transform: skewX(0deg);
        & > * {
            transform: skewX(0deg);
        }
    }
}