.navigation {
    &-toggle {
        width: 7rem;
        height: 7rem;
        background-color: $color-white;
        position: fixed;
        border-radius: 50%;
        z-index: 100;
        top: 4rem;
        right: 4rem;
        cursor: pointer;
        box-shadow: 0 1rem 3rem rgba($color-dark, .1);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-icon {
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-1;
        display: inline-block;
        position: relative;

        &::before,
        &::after {
            content: '';
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-1;
            position: absolute;
            left: 0;
            transition: all .5s ease-in-out;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }

    }

    &-background {
        width: 7rem;
        height: 7rem;
        position: fixed;
        border-radius: 50%;
        z-index: 80;
        top: 4rem;
        right: 4rem;
        cursor: pointer;
        @include lg(to right bottom, $color-primary-light, $color-primary-dark);
        transition: transform .3s ease-in-out;
    }

    &-nav{
        position: fixed;
        left: -100%;
        opacity: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        text-align: center;
        z-index: 80;
        transition: all .6s;
        text-align: left;
        @include atCenter;
    }

    &-item{
        margin: 1rem;
    }

    &-link{
        &:link, &:visited{
            display: inline-block;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 400;
            padding: 1rem 2rem;
            color: $color-white;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 225%;
            transition: all .4s ease-in-out;
        }

        &:hover, &:focus{
            background-position: 100%;
            color: $color-primary-dark;
            font-weight: 700;
        }
    }

    &.active {
        .navigation-background {
            transform: scale(60);
        }

        .navigation-icon {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(135deg);
            }

            &::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }

        .navigation-nav{
            left: 0;
            opacity: 1;
            animation: moveInleft .6s ease-in;
        }
    }
} 